{% extends "account/base.html" %}

{% load i18n %}



{% block content %}
    <div class="headline">
        <h1>{% trans "Sign Out" %}</h1>
    </div>

    <div class="txt">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}